<p>
<ul>
{{#with data}}
<li>Total inventory count  {{{inventory_count}}} </li>
<li>Variant Count {{{variant_count}}}</li>
<li>Total inventory value {{{inventory_value}}}</li>
<li>Highest variant price {{{highest_variant_price}}}</li>
<li>Primary category id {{{primary_category_id}}}</li>
<li>Primary category name {{{primary_category_name}}}</li>
{{/with}}

</ul>